.company-topbar {
  height: 70px;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #eef2ff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
}

/* SEARCH */
.search-input {
  width: 280px;
  padding: 10px 14px;

  border-radius: 10px;
  border: 1px solid #e5e7eb;

  outline: none;
  transition: 0.2s;
}

.search-input:focus {
  border-color: #3b82f6;
}

/* ACTIONS */
.topbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ICONS */
.icon-box {
  width: 36px;
  height: 36px;

  background: #eef3ff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.icon-box:hover {
  background: #dbeafe;
}

/* USER */
.user-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}

.user-box img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-box span {
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;}